<footer class="site-footer">
    <div class="container">
        <div class="site-footer__container">
            <div class="site-footer__section  text-start">
                <a href="#" class="site-footer__logo">Логотип</a>
                <div class="site-footer__contacts">
                    <a href="#" class="site-footer__contact">test@mail.ru</a>
                    <a href="#" class="site-footer__contact">+7 900 444 55 88</a>
                </div>
            </div>
            
            <div class="site-footer__social">
                <a href="https://www.youtube.com/" class="site-footer__social-link">
                    <img src="images/youtube.png" alt="youtube icon">
                </a>
                <a href="https://t.me/kairbekoff" class="site-footer__social-link">
                    <img src="images/telegram.png" alt="telegram icon">
                </a>
            </div>
            
            <div class="site-footer__section">
                <h3 class="site-footer__section-title">Облако тегов: </h3>
                <div class="site-footer__tags">
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                    <a href="#" class="site-footer__tag">тег</a>
                </div>
                <p>SEO-текст с кратким описанием сайта</p>
                <p>©Все права защищены, 2025</p>
            </div>
        </div>
    </div>
</footer>