<header class="site_header">
    <div class="container">
        <a href="#" class="logo">Логотип</a>
        <button class="menu_toggle">☰</button>
        <nav>
            <ul>
                <li><a href="#" class="link">Театр</a></li>
                <li><a href="#" class="link">Музыка</a></li>
                <li><a href="#" class="link">Выставки</a></li>
                <li><a href="#" class="link">Кино</a></li>
                <li><a href="#" class="link">Фестивали и праздники</a></li>
                <li><a href="#" class="link">Образовательные мероприятия</a></li>
                <li class="dropdown">
                    <a class="dropdown_link">Учреждения <img src="images/drop_down.png"></a>
                    <div class="dropdown_content">
                        <a href="#">Учреждение 1</a>
                        <a href="#">Учреждение 2</a>
                        <a href="#">Учреждение 3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown_link">Новости <img src="images/drop_down.png"></a>
                    <div class="dropdown_content">
                        <a href="#">Новость 1</a>
                        <a href="#">Новость 2</a>
                        <a href="#">Новость 3</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="search">
            <input type="text" placeholder="Поиск...">
            <button>
                <img src="images/find.png" alt="find button">
            </button>
        </div>
    </div>
</header>